1. Inspect the DataFrames using print and head:

    `visits` lists all of the users who have visited the website
    `cart` lists all of the users who have added a t-shirt to their cart
    `checkout` lists all of the users who have started the checkout
    `purchase` lists all of the users who have purchased a t-shirt

In [1]:
import pandas as pd

visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
print(visits.head())

cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
print(cart.head())

checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
print(checkout.head())

purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])
print(purchase.head())

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

2. Combine `visits` and `cart` using a left merge.

In [2]:
visits_cart = visits.merge(cart, how='left')
print(visits_cart)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
4     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
...                                    ...                 ...
2047  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
2048  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
2049  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
2050  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
2051  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time
0                    NaT
1    2017-01-26 14:44:00
2    2017-08-20 08:31:00
3    2017-08-20 08:49:00
4                    NaT
...                  ...
2047                 NaT
2048                 NaT
2049                 NaT
2050                 NaT
2051                 NaT

[2052 rows x 3 columns]

3. How long is your merged DataFrame?

In [3]:
print(len(visits_cart))

2052

4. How many of the timestamps are `null` for the column `cart_time`?

What do these null rows mean?

In [4]:
cart_time_null = visits_cart[visits_cart['cart_time'].isnull()]
print(cart_time_null)

                                   user_id          visit_time cart_time
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
4     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
5     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
6     7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
7     6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT
...                                    ...                 ...       ...
2047  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00       NaT
2048  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00       NaT
2049  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00       NaT
2050  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00       NaT
2051  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00       NaT

[1652 rows x 3 columns]

5. What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

Note: To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float, by using `float()`, with the number to convert passed in as input. Otherwise, Python will use integer division, which truncates decimal points.

In [5]:
not_cart_percentage = float(len(cart_time_null)) / float(len(visits_cart)) * 100.0
print(not_cart_percentage)

80.50682261208577

6. Repeat the left merge for `cart` and `checkout` and count `null` values. What percentage of users put items in their cart, but did not proceed to checkout?

In [6]:
cart_checkout = cart.merge(checkout, how='left')
checkout_null = cart_checkout[cart_checkout['checkout_time'].isnull()]
not_checkout_percentage = float(len(checkout_null)) / float(len(cart_checkout)) * 100.0

print(not_checkout_percentage)

20.930232558139537

7. Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable `all_data`.

Examine the result using `print` and `head`.

In [7]:
all_data = visits.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
print(all_data.head())

                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
4  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00

            cart_time       checkout_time       purchase_time
0                 NaT                 NaT                 NaT
1 2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2 2017-08-20 08:31:00                 NaT                 NaT
3 2017-08-20 08:49:00                 NaT                 NaT
4                 NaT                 NaT                 NaT

8. What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [8]:
checkout_purchase = pd.merge(checkout,purchase, how='left')
purchase_null = checkout_purchase[checkout_purchase['purchase_time'].isnull()]
not_purchase_percentage = float(len(purchase_null)) / float(len(checkout_purchase)) * 100.0

print(not_purchase_percentage)

16.88963210702341

9. Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?

How might Cool T-Shirts Inc. change their website to fix this problem?

In [9]:
print(not_cart_percentage)
print(not_checkout_percentage)
print(not_purchase_percentage)

80.50682261208577
20.930232558139537
16.88963210702341

10. Using the giant merged DataFrame `all_data` that you created, letâ€™s calculate the average time from initial visit to final purchase. Start by adding the following column to your DataFrame:

`all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time`

In [10]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

11. Examine the results using:

`print(all_data.time_to_purchase)`

In [11]:
print(all_data.time_to_purchase)

0           NaT
1      00:44:00
2           NaT
3           NaT
4           NaT
         ...
2589        NaT
2590        NaT
2591        NaT
2592        NaT
2593        NaT
Name: time_to_purchase, Length: 2594, dtype: timedelta64[ns]

12. Calculate the average time to purchase using the following code:

`print(all_data.time_to_purchase.mean())`

In [12]:
print(all_data.time_to_purchase.mean())

0 days 00:44:02.672413